<div style="background-color:#606060;color:white;padding-top:2px;padding-bottom:2px;">
<center><h1 style="font-family:georgia;align:center;">ONLINE ADMISSION SYSTEM</h1>
<p align="center" style="font-family:verdana;font-size:14px;">An Open Source Initiative of the Human Resource & Development<br>
   ( Developed under the National Mission of Education through Information & Communication Technology )</p></center>

<img src=/images/logo.jpg" height="80" width="80" style="position:absolute;left:25px;top:25px;z-index:2;"/>
</div> 
<hr width="100%"/> 

 