<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================= -->
<!--@author Anil Kumar Tiwari mailto:aniltiwari08@gmail.com        -->
<!-- ================================================================= -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 

<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">       
        <property name="location" value="classpath:in/ac/dei/edrp/admissionsystem/databasesettings/SqlMapConfig.properties"/>
        <!-- <property name="location" value="classpath:../build/build.properties"/>-->
    </bean>
 
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${database.driver}"/>
        <property name="url" value="${database.url}"/>
        <property name="username" value="${database.username}"/>
        <property name="password" value="${database.password}"/>
    </bean>
                                          
    
    <bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
        <property name="configLocation" value="classpath:in/ac/dei/edrp/admissionsystem/databasesettings/SqlMapConfig.xml"/>
        <property name="dataSource" ref="dataSource"/>
        <property name="useTransactionAwareDataSource" value="true"/>
    </bean>
 
       <bean id="daoservice"
		class="in.ac.dei.edrp.admissionsystem.userform.userformDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	 <bean id="ccaservice"
		class="in.ac.dei.edrp.admissionsystem.cca_int.cca_intImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	 <bean id="loginservice"
		class="in.ac.dei.edrp.admissionsystem.administration.login.loginImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	 <bean id="daoservicebubble"
		class="in.ac.dei.edrp.admissionsystem.userform.userformDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
	
	<bean id="reportDao" class="in.ac.dei.edrp.admissionsystem.report.ReportDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>

	<bean id="transferDao" class="in.ac.dei.edrp.admissionsystem.transfer.TransferDaoImpl">
		<property name="sqlMapClient" ref="sqlMapClient" />
	</bean>
</beans>


 
